<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
  href="webjars/bootstrap/5.1.0/css/bootstrap.min.css" />
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.css"
  integrity="sha384-zTROYFVGOfTw7JV7KUu8udsvW2fx4lWOsCEDqhBreBwlHI4ioVRtmIvEThzJHGET"
  crossorigin="anonymous">

<script src="webjars/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<script defer
  src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.js"
  integrity="sha384-GxNFqL3r9uRJQhR+47eDxuPoNE7yLftQM8LcxzgS4HT73tp970WS/wV5p8UzCOmb"
  crossorigin="anonymous"></script>
<script defer
  src="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/contrib/auto-render.min.js"
  integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl"
  crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async
  src="https://www.googletagmanager.com/gtag/js?id=G-RFNWL2QEFY"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() {
		dataLayer.push(arguments);
	}
	gtag('js', new Date());

	gtag('config', 'G-RFNWL2QEFY');
</script>

<title>Integer Information</title>
</head>

<body>
  <header class="sticky-top">
    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Integer Information</a>
      </div>
    </nav>
  </header>

  <div class="container my-5">
    <div class="alert alert-info" role="alert">\(1\) 以上
      \(10^{12}\) 以下の整数に対応</div>

    <form th:action="@{/}" method="GET" th:object="${integerForm}">
      <div class="form-group row">
        <div class="col-md-4">
          <input type="number" th:field="*{integer}"
            class="form-control">
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary">調べる</button>
        </div>
      </div>
      <div th:errors="*{integer}" class="my-3 alert alert-danger"
        role="alert"></div>
    </form>

    <th:block th:if="${result != null}">
      <hr>
      <p class="display-4">\( n = [[${result.n}]] \)</p>

      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="width: 25%">項目</th>
            <th scope="col" style="width: 75%">結果</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">素数？</th>
            <td>[[${result.isPrime}]]</td>
          </tr>
          <tr>
            <th scope="row">素因数分解</th>
            <td>\( [[${result.factors}]] \)</td>
          </tr>
          <tr>
            <th scope="row">約数の個数 \(d(n)\)</th>
            <td>\( [[${result.divisorNum}]] \) 個</td>
          </tr>
          <tr>
            <th scope="row">約数の個数の最大値 \( \displaystyle \max_{1 \leq
              m \leq n} d(m) \)</th>
            <td>\( [[${result.maximumDivisorNum}]] \) 個 (\( m =
              [[${result.highlyComposite}]] \))</td>
          </tr>
        </tbody>
      </table>
    </th:block>
  </div>
</body>
</html>
